 <header>
  <h1>deKryptor</h1>
</header>

<body>

  <main>
    <div id="crypted-text-box">
      <p id="crypted-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed dolor ac mi fermentum consectetur. Etiam volutpat elit nunc, ac rhoncus felis gravida vitae. Integer vel lorem ullamcorper, volutpat tortor sit amet, bibendum nisi. Sed auctor maximus sapien nec rhoncus. Mauris lacinia lorem at lectus rutrum, nec blandit ante consequat.
      </p>
    </div>
    <!-- <loading-bar></loading-bar> -->
    <button id="decrypt-btn">&lt; BEGIN &gt;</button>
  </main>
</body>
