:root {
    --dark-blue: rgb(40, 44, 52);
    --white: rgb(173, 181, 196);
    --light-grey: rgb(145, 145, 145);
    --yellow: rgb(255, 238, 0);
}
@media screen and (max-width: 479px) {
    /* For phones */
    #encrypted-text-box { 
        max-width: 320px;
    }

}

@font-face {
    font-family: "Aquire-lg";
    src: local("Aquire-lg"), url("./assets/fonts/Aquire-BW0ox.ttf");
}

@font-face {
    font-family: "Aquire-sm";
    src: local("Aquire-sm"), url("./assets/fonts/AquireLight-YzE0o.ttf");
}

html {
    background-image: linear-gradient(to bottom, rgb(40, 44, 52), rgb(43, 40, 52), rgb(51, 40, 52));
    font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: var(--white);
    position: relative;
    height: 100%;
}

header {
    margin-top: 1rem;
    background-color: var(--dark-blue);
}

h1 {
    font-family: "Aquire-lg", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(45deg, rgb(218, 173, 28), rgb(200, 22, 216));
    background-clip: text;
    color: transparent;
    padding: 0.5rem;
    text-align: center;
}

#text-box {
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* background-color: rgba(255, 255, 255, 0.103); */
    border: 1px solid var(--light-grey);
    border-radius: 0.4rem;
    padding: 0.7rem;
    padding-bottom: 0.7rem;
}

#text {
    text-align: start;
}

#decrypt-btn {
    font-size: 1.5rem;
    font-family: "Aquire-sm", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(241, 191, 27);
    background-color: rgb(35, 116, 111);

    border: 1px solid rgb(78, 169, 255);
    border-radius: 0.4rem;
    margin-top: 1rem;
    
}